In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
from sklearn.linear_model import LogisticRegression

In [48]:
# importando datasets
df_train = pd.read_csv("portfolio_ok.csv", index_col='id')
df_test  = pd.read_csv("marketok.csv", index_col='id')

In [49]:
X_train = df_train.drop('target', axis=1).copy()
y_train = np.array(df_train.target)

## Regressão Logística

In [50]:
model = LogisticRegression(solver='liblinear')

model.fit(X_train, y_train)

/home/tiago/.local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

Analisando resultados do modelo treinado

In [51]:
model_result = model.predict_proba(X_train)

In [52]:
df_model_result = pd.DataFrame(data=np.round(model_result, 3))
df_model_result

In [56]:
df_model_result['target'] = y_train

# result: contém qual a maior probabilidade de uma empresa ter fit com portifólio 1, 2, 3 ou 4
result = df_model_result.drop('target', axis=1).idxmax(axis=1) == y_train - 1

print("Acurácia do modelo ao aplicar no dataset de treino:")
sum(result == True) / len(result)

Acurácia do modelo ao aplicar no dataset de treino:

0.8137715179968701

Aplicando modelo ao dataset de teste

In [58]:
model_test_result = model.predict_proba(df_test)

In [61]:
df_model_result = pd.DataFrame(data=np.round(model_test_result, 3))
df_model_result

            0      1      2      3
0       0.556  0.422  0.017  0.006
1       0.764  0.000  0.211  0.025
2       0.807  0.000  0.141  0.052
3       0.790  0.000  0.194  0.016
4       0.763  0.000  0.224  0.013
...       ...    ...    ...    ...
462293  0.991  0.007  0.001  0.001
462294  0.933  0.000  0.045  0.021
462295  0.889  0.002  0.081  0.027
462296  0.934  0.064  0.001  0.001
462297  0.840  0.000  0.151  0.009

[462298 rows x 4 columns]

In [68]:
# somando um, pois a previsão inicia com indice zero
result = df_model_result.idxmax(axis=1) +1
result

0         1
1         1
2         1
3         1
4         1
         ..
462293    1
462294    1
462295    1
462296    1
462297    1
Length: 462298, dtype: int64

### Resultado final

In [70]:
final_result = pd.read_csv("marketok.csv", index_col='id', usecols=['id'])

                                                    target
id
a6984c3ae395090e3bee8ad63c3758b110de096d5d81958...     NaN
6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c47...     NaN
4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02e...     NaN
3348900fe63216a439d2e5238c79ddd46ede454df7b9d8c...     NaN
1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4b...     NaN
...                                                    ...
469ee5fc984d0bb60aa2f40cda4d003d7c9b963d149ed3b...     NaN
656f496e7e2fad708f0022d8ad97d2cb9344e839a5f3cb6...     NaN
9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1f...     NaN
84db0f17467cf4f02439e01ade57150b6ac59d9dae53edb...     NaN
3d43e934e150b86be1e67524f5ba1018b27da9ef25566d9...     NaN

[462298 rows x 1 columns]

In [71]:
final_result['target'] = np.array(result)
final_result

                                                    target
id
a6984c3ae395090e3bee8ad63c3758b110de096d5d81958...       1
6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c47...       1
4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02e...       1
3348900fe63216a439d2e5238c79ddd46ede454df7b9d8c...       1
1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4b...       1
...                                                    ...
469ee5fc984d0bb60aa2f40cda4d003d7c9b963d149ed3b...       1
656f496e7e2fad708f0022d8ad97d2cb9344e839a5f3cb6...       1
9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1f...       1
84db0f17467cf4f02439e01ade57150b6ac59d9dae53edb...       1
3d43e934e150b86be1e67524f5ba1018b27da9ef25566d9...       1

[462298 rows x 1 columns]

In [72]:
# validando se todos os valores foram inseridos corretamente
final_result.target.unique()

array([1, 2, 4, 3])

In [73]:
final_result.to_csv('result.csv')