In [107]:
# Criando o target
df_port1 = pd.read_csv('portfolio1.csv', usecols=['id'])
df_port2 = pd.read_csv('portfolio2.csv', usecols=['id'])
df_port3 = pd.read_csv('portfolio3.csv', usecols=['id'])

In [108]:
print (df_port1.shape, df_port2.shape, df_port3.shape)

(555, 1) (566, 1) (265, 1)

In [109]:
df_port1['port1'] = 1
df_port1['port2'] = 0
df_port1['port3'] = 0
df_port2['port1'] = 0
df_port2['port2'] = 1
df_port2['port3'] = 0
df_port3['port1'] = 0
df_port3['port2'] = 0
df_port3['port3'] = 1

In [110]:
df_port1.head(2)

                                                  id  port1  port2  port3
0  dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...      1      0      0
1  32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...      1      0      0

In [111]:
df_port2.head(2)

                                                  id  port1  port2  port3
0  09e95c1a84049001d086470a8f320a19b076f955a89122...      0      1      0
1  dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...      0      1      0

In [112]:
df_port3.head(2)

                                                  id  port1  port2  port3
0  bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe2...      0      0      1
1  16843c9ffb920170477118933798510d8d5f00f5c56c12...      0      0      1

In [113]:
print (df_port1.shape, df_port2.shape, df_port3.shape)

(555, 4) (566, 4) (265, 4)

In [119]:
# merge do dataframe de objetos "booleanos" com dataframe booleano
df_ports = df_port1.append([df_port2, df_port3])
df_ports.shape

(1386, 4)

In [120]:
df_ports.head()

                                                  id  port1  port2  port3
0  dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...      1      0      0
1  32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...      1      0      0
2  a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...      1      0      0
3  6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...      1      0      0
4  f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...      1      0      0

In [123]:
# Checkin id unicos
df_ports['id'].nunique()

1278

In [129]:
def target(df):
    if [df['port1'] == 1] & [df['port2'] == 0] & [df['port3'] == 0]:
        return df['target'] == 1
    if [df['port1'] == 0] & [df['port2'] == 1] & [df['port3'] == 0]:
        return df['target'] == 2
    if [df['port1'] == 0] & [df['port2'] == 0] & [df['port3'] == 1]:
        return df['target'] == 3
    if [df['port1'] == 1] & [df['port2'] == 1] & [df['port3'] == 0]:
        return df['target'] == 4
    if [df['port1'] == 1] & [df['port2'] == 0] & [df['port3'] == 1]:
        return df['target'] == 5
    if [df['port1'] == 0] & [df['port2'] == 1] & [df['port3'] == 1]:
        return df['target'] == 6
    if [df['port1'] == 1] & [df['port2'] == 1] & [df['port3'] == 1]:
        return df['target'] == 7

In [130]:
df_portss = target(df_ports)
df_portss.head()

TypeError: unsupported operand type(s) for &: 'list' and 'list'